WDS_SOCKET_HOST=127.0.0.1
CHOKIDAR_USEPOLLING=true
WATCHPACK_POLLING=true

# relative to frontend
NEXT_PUBLIC_GRAPHQL_SERVER_URL=http://localhost:4001/

# relative to backend
BACKEND_PORT=4001

# relative to database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=postgres

SECRET_KEY="secret"